body {
    background: linear-gradient(180deg, rgb(146, 146, 158) 0%, #e6e3e3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-position: center;
    background-size: cover;
}
